<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DLS Technologies</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7NX04J0eBURZLPxAZTLmnnfST8Wiolkw&libraries=places"></script>   
    
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    

    <div class="content">
        @Html.Partial("_NavBar")
        @Html.Partial("_SideNavBar")
        <div class="container">
            <div class="body">
                @RenderBody()
            </div>            
        </div>
        <hr />
        <div class="footer">&copy; DLS Technologies @DateTime.Today.Year</div>
    </div>
    
    
        
    
    
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    
</body>
</html>
