@model IEnumerable<DLS_Technologies.Models.ExpensesModels.ExpenseForm>
@{
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
<hr />

@Html.Partial("_NewExpenseForm", new DLS_Technologies.ViewModels.ExpenseFormViewModel())
@{ 
    if (!Model.Any())
    {
        <h3>You have not created any Expense Forms.</h3>
    }
    else
    {
        <table id="expenseFormsTable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Expense Form</th>
                    <th>Date Added</th>
                    <th>Total Cost</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var form in Model)
                    {
                        <tr>
                            <td data-order="@form.DateAdded">@Html.ActionLink(@form.Name, "ShowExpenses", "ExpenseForms", new { expenseFormId = @form.Id }, null)</td>
                            <td>@form.DateAdded.Value</td>
                            <td>£@form.TotalCost.Value.ToString("0.00")</td>
                            <td><button data-expenseform-id="@form.Id" class="btn-link js-edit">Edit</button></td>
                            <td><button data-expenseform-id="@form.Id" class="btn-link js-delete">Delete</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@section scripts 
{
    <script>
        $(document).ready(function () {
            $("#showNewExpenseFormBtn").on("click", function (e) {
                e.preventDefault();
                $("#addNewExpenseFormBtn").toggle();               
            });            
            
           var table = $("#expenseFormsTable").DataTable({   
                order: [[0, "desc"]],
                columnDefs: [
                    {
                        'targets': [1],
                        'visible': false,
                        'searchable': false,
                        
                    }
                ]

            });

            $("#expenseFormsTable").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Expense Form?", (result) => {
                    if (result) {
                        $.ajax({
                            method: "DELETE",
                            url: "/api/expenseforms/deleteexpenseform/" + button.attr("data-expenseform-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }
                });
            }).on("click", ".js-edit", function () {
                var button = $(this);
                var id = button.attr("data-expenseform-id");
                bootbox.prompt("Form Name:", function (name) {
                    if (name) {
                        $.ajax({
                            method: "PUT",
                            url: "/api/expenseforms/updateexpenseformname/",
                            dataType: "json",
                            data: {
                                id: id,
                                name: name
                            },
                            success: function (result) {
                                window.location.reload();
                            }
                        });
                    };
                });
            });
            
           
        });
    </script>
}
