@model DLS_Technologies.ViewModels.ExpenseFormViewModel
@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<hr />
@Html.ActionLink("Back", "Index", "ExpenseForms")
<br /><br />
@Html.ActionLink("Add New Expense", "NewExpense", "Expenses", new { expenseFormId = Model.ExpenseForm.Id }, null )
<br /><br />
@{
    if (!Model.Expenses.Any())
    {
        <h4>No expenses have been added to this form.</h4>
    }
    else
    {
        @Html.HiddenFor(m => m.ExpenseForm.Id)
        @Html.HiddenFor(m => m.TotalCost)

        <table id="expensesTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Expense Type</th>
                    <th>Date</th>
                    <th>DateTime</th>
                    <th>Origin</th>
                    <th>Destion</th>
                    <th>Total Miles</th>
                    <th>Cost</th>  
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var expense in Model.Expenses)
                    {
                        
                        <tr data-expenseform-id="@expense.ExpenseFormId" data-expense-id="@expense.Id">
                            <td>@expense.ExpenseType.Name</td>
                            <td>@expense.Date.Value.ToShortDateString()</td>
                            <td>@expense.DateTime</td>
                            <th>@expense.Origin</th>
                            <th>@expense.Destination</th>
                            <td>@expense.TotalMiles</td>
                            <td>£@expense.Cost.Value.ToString("0.00")</td>
                        </tr>
                        
                    }
                }
            </tbody>
            
        </table>
    }
}

@section scripts {

    @Scripts.Render("~/scripts/formscripts/expenses/expenseforms-form.js")
}

