@model DLS_Technologies.Models.Customer

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <input type="hidden" id="Id" name="Id" value="@Model.Id">

    <div class="row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(m => m.AccountTypeId)
            @Html.ValueFor(m => m.AccountType.Name)
        </div>
        @if (Model.MonthlySiteVisitDate != null)
        {
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.MonthlySiteVisitDate)
                @Html.ValueFor(m => m.MonthlySiteVisitDate, "{0:dd/MM/yyyy}")
            </div>
        }
    </div>

        <div class="row">   
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.ContactOnSite)
                @Html.ValueFor(m => m.ContactOnSite)
            </div>
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.ValueFor(m => m.EmailAddress)
            </div>
            <div class="col-sm-offset-4"></div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.Address)
                @Html.ValueFor(m => m.Address)
            </div>
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.ContactInfo)
                @Html.ValueFor(m => m.ContactInfo)
            </div>
            <div class="col-sm-offset-4"></div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.PostCode)
                @Html.ValueFor(m => m.PostCode)
            </div>
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.DateJoined)
                @Html.ValueFor(m => m.DateJoined, "{0:dd/MM/yyyy}")
            </div>
            <div class="col-sm-offset-4"></div>
        </div>

        <br />

        <div id="customer-notes-partial"></div>        
}
        <br /><br />

        <div class="cust-details-btns">
            @Html.ActionLink("Edit", "Edit", "Customers", new { @id = @Model.Id }, new { @class= "btn btn-success" } )
            <button id="del-customer-btn" class="btn btn-primary" data-customer-id="@Model.Id">Delete Customer</button>
        </div>


@Scripts.Render("~/scripts/formscripts/customers/customer-details.js")

   
