@model DLS_Technologies.ViewModels.CustomerViewModels.ServerViewModel

<input type="hidden" id="ServerId" name="ServerId" value="0">

<div class="row servers-table">
    @{
        if (!Model.Servers.Any())
        {
            <div class="col-sm-8"> <h3>No Servers have been added.</h3></div>
        }
        else
        {
            <table id="servers-table" class="table table-bordered">
                <thead>
                    <tr>
                        <td><b>Server Name</b></td>
                        <td><b>Public IP</b></td>
                        <td><b>Private IP</b></td>
                        <td><b>Port</b></td>
                        <td><b>Username</b></td>
                        <td><b>Password</b></td>
                        <td><b>Web Connect</b></td>
                        <td><b>Remote Desktop</b></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Servers)
                        {
                            <tr>
                                
                                <td id="server-name">@item.ServerName</td>
                                <td id="public-ip">@item.PublicIpAddress</td>
                                <td id="private-ip">@item.PrivateIpAddress</td>
                                <td id="port">@item.Port</td>
                                <td id="username">@item.UserName</td>
                                <td id="password">@item.Password</td>
                                <td><button class="btn btn-link js-web-connect">Connect</button></td>
                                <td><button class="btn btn-link js-rdp-connect">Connect</button></td>
                                <td><button data-server-id="@item.Id" class="btn btn-link js-edit-btn">Edit</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }


</div>



@Scripts.Render("~/scripts/formscripts/customers/servers-table.js")

