@model DLS_Technologies.Models.Customer
@{
    ViewBag.Title = Model.Id != 0 ? Model.Name : "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<hr />
@Html.ActionLink("Back", "Index", "Customers", new { }, null)<br />

<input type="hidden" id="Id" name="Id" value="@Model.Id">

<div class="row" style="margin-bottom:10px; margin-left:-15px;">
    <button id="cust-info-btn" class="btn btn-link cust-btns" data-btn-id="1">Customer Info</button>
    <button id="site-info-btn" class="btn btn-link cust-btns" data-btn-id="2">Site Info</button>
    <button id="server-info-btn" class="btn btn-link cust-btns" data-btn-id="3">Servers</button>
    <button id="account-info-btn" class="btn btn-link cust-btns" data-btn-id="4">Account Info</button>
</div>

<div id="customer-partial"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/formscripts/customers/customer-parent.js")
}

