@model IEnumerable<DLS_Technologies.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@Html.ActionLink("Add New Customer", "NewCustomer", "Customers", new { @class = "btn btn-primary" })
<br /><br />




@{ 
    if (!Model.Any())
    {
        <h3>No customers have been created. </h3>
    }
    else
    {
        <table id="customerTable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var customer in Model)
                    {
                        <tr data-customer-id="@customer.Id">
                            <td>@customer.Name</td>
                            <td>@customer.Address</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@section scripts 
{
    <script>
        var table = $("#customerTable").DataTable({
            order: [[0, "asc"]]
        });

        $("#customerTable tbody").on("click", "tr", function () {
            var row = $(this);
            $.ajax({
                method: "GET",
                url: "/Customers/GetCustomer/" + row.attr("data-customer-id"),
                success: function () {
                    window.location.href = '/Customers/GetCustomer/' + row.attr("data-customer-id")
                }
            });
        });

    </script>
}