@model DLS_Technologies.ViewModels.MileageFormViewModel


@Html.HiddenFor(m => m.DateTime)

<div class="row">
    <div class="form-group col-sm-4">
        @Html.LabelFor(m => m.Origin)
        @Html.TextBoxFor(m => m.Origin, new { @class = "form-control", @placeholder = "Enter Origin" })
        @Html.ValidationMessageFor(m => m.Origin)
    </div>

    <div class="form-group col-sm-4">
        @Html.LabelFor(m => m.Destination)
        @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", @placeholder = "Enter Destination" })
        @Html.ValidationMessageFor(m => m.Destination)
    </div>
    <div class="col-sm-offset-4"></div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.TotalMiles)
    @Html.TextBoxFor(m => m.TotalMiles, new { @class = "form-control", @type = "number" })
    @Html.ValidationMessageFor(m => m.TotalMiles)
</div>


<div id="result" class="validation-failed"></div>

<div class="form-group">
    @Html.LabelFor(m => m.Cost)
    @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @readonly = "readonly", @type = "number" })
    @Html.ValidationMessageFor(m => m.Cost)
</div>
    

@Scripts.Render("~/scripts/formscripts/expenses/googlemaps-form.js")
