@model DLS_Technologies.ViewModels.ExpenseViewModel


@Html.HiddenFor(m => m.DateTime)

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Cost)
    @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cost)
</div>

@Scripts.Render("~/bundles/jqueryval")
