@model DLS_Technologies.ViewModels.ExpenseViewModel
@{
    var title = Model.Id == 0 ? ViewBag.Title = "New Expense" : "Edit Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@title - @Html.ValueFor(m => m.ExpenseForm.Name)</h3>
<hr />
@Html.ActionLink("Back", "ShowExpenses", "ExpenseForms", new { expenseFormId = Model.ExpenseForm.Id}, null)
<br /><br />

    @using (Html.BeginForm("Save", "Expenses"))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()  
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ExpenseFormId)

        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })     
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExpenseTypeId)
            @Html.DropDownListFor(m => m.ExpenseTypeId, new SelectList(Model.ExpenseTypes, "Id", "Name", "1"), "Select Expense Type", new { @class = "form-control", @onChange = "LoadExpenseForms()" })
        </div>        

        <div id="PartialDiv">
        </div>

        {
            if (Model.Id == 0)
            {
                <button type="submit" class="btn btn-success">Add Expense</button>
            }
            else
            {
                <button type="submit" class="btn btn-success">Update Expense</button>
                <button type="submit" id="delete-btn" data-expense-id="@Model.Id" data-form-id="@Model.ExpenseFormId" class="btn btn-primary">Delete Expense</button>
            }
        }

    }

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    @Scripts.Render("~/scripts/formscripts/expenses/expense-form.js")
}