@model DLS_Technologies.ViewModels.MileageFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>
@Html.ActionLink("Back", "ShowExpenses", "ExpenseForms", new { id = Model.ExpenseFormId }, null)
<br /><br />
@using (Html.BeginForm("Save", "Expenses"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ExpenseFormId)

    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.ExpenseTypeId)
        @Html.DropDownListFor(m => m.ExpenseTypeId, new SelectList(Model.ExpenseTypes, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExpenseTypeId)
    </div>

    <div id="target" class="form-group">
        <label class="radio-inline"><input id="googleMapsRadBtn" data-radioBtn-id="1" checked="checked" type="radio" class="js-mileage-radiobtn" name="optradio" value="googleMaps">Google Maps</label>
        <label class="radio-inline"><input id="odometerRadBtn" data-radioBtn-id="2" type="radio" class="js-mileage-radiobtn" name="optradio" value="odometer">Manual</label>
    </div>

    <div class="row">
    <div class="form-group col-sm-4">
        @Html.LabelFor(m => m.Origin)
        @Html.TextBoxFor(m => m.Origin, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Origin)
    </div>

    <div class="form-group col-sm-4">
        @Html.LabelFor(m => m.Destination)
        @Html.TextBoxFor(m => m.Destination, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Destination)
    </div>
    <div class="col-sm-offset-4"></div>
    </div>

    if (Model.OdometerStart != null)
    {
        <div class="odometerForm row">
            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.OdometerStart)
                @Html.TextBoxFor(m => m.OdometerStart, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OdometerStart)
            </div>

            <div class="form-group col-sm-4">
                @Html.LabelFor(m => m.OdometerEnd)
                @Html.TextBoxFor(m => m.OdometerEnd, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OdometerEnd)
            </div>
        </div>
    }



    <div class="form-group">
        @Html.LabelFor(m => m.TotalMiles)
        @Html.TextBoxFor(m => m.TotalMiles, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TotalMiles)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cost)
        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Cost)
    </div>

    <button type="submit" class="btn btn-success">Update Expense</button>
    <button type="submit" id="delete-btn" data-expense-id="@Model.Id" data-form-id="@Model.ExpenseFormId" class="btn btn-primary">Delete Expense</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            

            $(".js-mileage-radiobtn").on("change", function () {

                if ($("#googleMapsRadBtn").is(":checked")) {
                    $.ajax({
                        method: "GET",
                        url: "/expenses/loadexpensepartial/" + ("#Id").val()
                    })
                }

            });
           




            $("#TotalMiles").on("focusout", () => {
                var miles = $("#TotalMiles").val();
                var result = miles * .25;
                var parsedResult = parseFloat(Math.round(result * 100) / 100).toFixed(2);
                $("#Cost").val(parsedResult);
            });

            $("#OdometerEnd").on("focusout", () => {
                var startOdometer = $("#OdometerStart").val();
                var endOdometer = $("#OdometerEnd").val();
                var result = endOdometer - startOdometer;
                $("#TotalMiles").val(result);
            });

            $("#delete-btn").on("click", function (e) {
                e.preventDefault();
                var button = $(this);
                var id = button.attr("data-form-id");
                bootbox.confirm("Are you sure you want to delete this Expense?", (result) => {
                    if (result) {
                        $.ajax({
                            method: "DELETE",
                            url: "/api/expenses/" + button.attr("data-expense-id"),
                            success: () => {
                                console.log(id);
                                window.location.href = "/ExpenseForms/ShowExpenses/" + id
                            }
                        });
                    };
                });
            });


        });


        
    </script>
}